.email-button .email-text {
    visibility: hidden;
    opacity: 0;
    /* margin-left: 8px; */
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .email-button:hover .email-text {
    visibility: visible;
    opacity: 1;
  }
  