.video-container {
    
    opacity: 0.99;
    /* margin-top: 20px;
    background-size: "cover";
    background-repeat: "no-repeat"; */

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    object-fit: cover;

  }
  
  /* .text {
    @include font-size(1.5rem);
  }
  
  .heading {
    @include font-size(3rem);
  } */
  /* Set the transparency (adjust the opacity value as needed) */
  .react-player {
    opacity: 0.02;
  }
  

  .text-overlay {
    position: absolute;
    top:2%; /* Adjust the vertical position */
    left: 2%; /* Adjust the horizontal position */
    transform: translate(0%, 0%); 
    color: white; /* Text color */
    /* font-size: 24px; Adjust font size */
    /* text-align: center; */
    pointer-events: none; /* Allow clicks to pass through the overlay */
  }